# Ignore build directory
build/

# Ignore all executables (common extensions for Windows and Linux)
*.exe
*.out
*.o
*.obj

# Ignore Competitive Companion problem files
.cph/

# Ignore editor/IDE specific files (uncomment as needed)
# .vscode/
# .idea/
# *.sublime-workspace
# *.sublime-project

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore backup files
*~
*.swp

.autocp/